In [ ]:
# Para ler um dataframe 
import pandas as pd

arquivo = pd.read_csv('./pandas-essencial-main/datasets/GasPricesinBrazil_2004-2019.csv', sep=';')

display(arquivo)

In [ ]:
# Para ter as primeiras 5 linhas do dataframe

display(arquivo.head()) # Utilizamos a função .head()

In [ ]:
# Exibi as informações da estrutur da nosso dataframe

display(arquivo.info()) #Utilizando a função .info()

In [ ]:
# Exibi a estrutura básica do Dataframe
# A funçõa .shap() retorna uma tupla exibindo a quantidade de linha e a quantidade de colunas do Dataframe

print(f'O número de LINHAS do nosso DataFrame é {arquivo.shape[0]} e a quantidade de COLUNAS é {arquivo.shape[1]}')

In [ ]:
# Criando um DataFrame direto do Pandas
# Como Criar:
    # 1 -> Atribuimos o DataFrame a uma variavel
    # 2 -> Chamamos a função DatraFrame utilizando o pd
    # 3 -> Criamos uma tupla e dentro dessa tuplal terá um dicionario
    # 4 -> As Keys será o nome das Colunas
    # 5 -> Os Values serão listas onde cada posição será uma linha

jogadores = pd.DataFrame({
    'Nome': ['Neymar', 'Bernado Silva', 'Rashford', 'Saka', 'Haaland'],
    'Club': ['Al Hilal', 'Man City', 'Man United', 'Arsenal', 'Man City'],
    'Position': ['PE', 'MC', 'ATA', 'PD', 'ATA'],
    'Shoot': ['Right', 'Left', 'Right', 'Left', 'Left']
})

display(jogadores)

In [24]:
# Retorna uma tupla e dentro dessa tupla contem uma lista de todas as colunas do DataFrame jogadores
jogadores.columns

Index(['Nome', 'Club', 'Position', 'Shoot'], dtype='object')

In [ ]:
# Com a função rename() conseguimos atualizar o nome das colunas do nosso DataFrame
# Vamos lá:
    # 1 -> Criamos uma variavel que será a responsavel por armazanar o novo DataFrame
    # 2 -> Dentro dessa variavel atribuimos o nome da DataFrame que iremos modificar, colocamos o pontos e chamamos a função rename()
    # 3 -> Como parametro ela tera o columns=
    # 4 -> Dentro desse columns= colocamos uma tupla e dentro dessa tupla colocamos um dicionario
    # 5 -> Key será o antigo nome da COLUNA e o Value será o novo nome da COLUNA

jogadores_update = jogadores.rename(columns={
    'Nome':'Name',
})

display(jogadores_update)

In [ ]:
# Aqui utlizamos o INPLACE=TRUE para alterar o nome da Coluna sem precisar criar um nove DataFrame
jogadores.rename(columns=({
    'Nome':'Name'
}), inplace=True)

jogadores

In [ ]:
# Dessa maneira alteramos o nome de todas as colunas de uma só vez

jogadores.columns = ['Nome', 'Clube', 'Posição Favorita', 'Melhor Pé']

jogadores

In [ ]:
#Extraindo somente os dados da colunas Club do DataFRame jogadores
jogadores['Club']

In [ ]:
#Extraindo someente os dados da linha 2 do DataFrame jogadores
jogadores.iloc[2]

In [7]:
import pandas as pd

file = pd.read_excel('./relatorio_vendas_2021.xlsx')

file.info

<bound method DataFrame.info of        ID Pedido Data Pedido  ID Loja                    Produto     Marca  \
0           2554  2021-01-01        3              OnePlus 9 Pro   OnePlus
1           2707  2021-01-01        1       Apple Watch Series 7     Apple
2           3309  2021-01-01        5       Nintendo Switch OLED  Nintendo
3           3376  2021-01-01        1  Samsung QN90A Neo QLED TV   Samsung
4           3635  2021-01-01        1      iPhone 12 mini (64GB)     Apple
...          ...         ...      ...                        ...       ...
11995       9934  2021-12-31        1       Bose QuietComfort 45      Bose
11996      10361  2021-12-31        5   Samsung Galaxy S21 Ultra   Samsung
11997      10745  2021-12-31        3            HP Spectre x360        HP
11998      10992  2021-12-31        2     Samsung Galaxy Watch 4   Samsung
11999      11417  2021-12-31        2     iPhone 13 mini (128GB)     Apple

       Quantidade  Preço Unitário  Preço Total  Formas de Pagamento
0               1         2127.41       2127.41                 Pix
1               4         5163.84      20655.36                 Pix
2               3         9851.29      29553.87              Débito
3               4         2819.41      11277.64             Crédito
4               2         3384.15       6768.30              Débito
...           ...             ...           ...                 ...
11995           5         9696.49      48482.45                 Pix
11996           3         6388.63      19165.89              Débito
11997           4         8969.44      35877.76                 Pix
11998           4         4519.95      18079.80             Crédito
11999           1         8411.79       8411.79              Débito

[12000 rows x 9 columns]>