In [1]:
import pandas as pd

relatorio_vendas = pd.read_csv('./relatorio_vendas_pandas.csv')

In [ ]:
# Usando a função .unique() para exibir os dados únicos da coluna ['Marca'], descartando as duplicadas
relatorio_vendas['Marca'].unique()

In [ ]:
# Fazendo uma comparação na Coluna ['Marca']. Todas as linhas da colunas ['Marca'] que tiverem o valor 'Apple', retornara True, caso contratio retorna False
relatorio_vendas['Marca'] == 'Apple'

In [ ]:
# Aqui apenas estou atrinuindo a minha comparação a uma variavel 
apple_select01 = relatorio_vendas['Marca'] == 'Apple'

In [ ]:
# Agora colocando minha variavel de comparação como uma coluna, irá exibir apenas as linhas que tem 'Apple' como valor
relatorio_vendas[apple_select01]

In [ ]:
# Mais um exemplo de filtragem
samsung_select = relatorio_vendas['Marca']== 'Samsung'

relatorio_vendas[samsung_select]

In [ ]:
# Usando a função .query() para criar mais um exemplo de filtragem. Aqui acontece o mesmo cenário de antes, só se exibido as linhas que tem Apple como Marca
apple_select02 = relatorio_vendas.query(f'Marca == "Apple"')

In [ ]:
# Resetando o index dessa consulta que só exibi as linhas que contem Apple como Marca (É POSSIVEL USAR O DROP=True como parametro para remover a colunas index)
apple_select02.reset_index()

In [ ]:
# É comum criarmos a consulta dessa maneira, atribundo tudo no momento da declaração da variavel
apple_select02 = relatorio_vendas.query('Marca == "Apple').reset_index()

In [ ]:
# Essa é uma consulta que irá exibir somente as vendas abaixo de R$1500 que foram pagas com PIX
    # 1 -> Atribui a uma variavel
    # 2 -> Chama o DataFrame e abre uma list
    # 3 -> Dentro dessa list a gente cria a primeira tupla com a condição
    # 4 -> Colocamos o sinal lógico de comparação
    # 5 -> Criamos a segunda tupla com a segunda condição

consulta01 = relatorio_vendas[(relatorio_vendas['Preço Total '] < 1500) & (relatorio_vendas['Formas de Pagamento'] == 'Pix')]
consulta01

In [ ]:
# Agora quero uma consulta que mostre vendas acima de R$20000, cujo a Marca é a Samsung e a forma de pagamento foi crédito
consulta02 = relatorio_vendas[(relatorio_vendas['Preço Total '] > 20000) & (relatorio_vendas['Marca'] == 'Samsung') & (relatorio_vendas['Formas de Pagamento'] == 'Crédito')]
consulta02

In [ ]:
#Agora eu quero que aparece somente produtos da marca Apple, Samsung e Nintendo
consulta03 = relatorio_vendas[(relatorio_vendas['Marca'] == 'Apple') | (relatorio_vendas['Marca'] == 'Samsung') | (relatorio_vendas['Marca'] == 'Nintendo')]

#No momento da exibição eu consigo definir ao lado na minha variavle/consulta somente as colunas que eu quero que apareça
consulta03[['Produto', 'Marca', 'Quantidade', 'Preço Total ']]

In [ ]:
# Nesse cenário eu crio uma lista com o nome de alguns produtos e atraves da função .isin() eu consigo vericar se esses produtos dentro da lista estão no meu DataFrame
lista_proutos = ['OnePlus 9 Pro', 'iPhone 13 mini (128GB)', 'Samsung QN90A Neo QLED TV']
relatorio_vendas.isin(lista_proutos) #Retorna um valor Boolean

In [ ]:
exemplo01 = relatorio_vendas['Marca'] == 'Apple' # Retorna um Boolean
exemplo02 = relatorio_vendas[(relatorio_vendas['Marca'] == 'Apple')] # Retorna a DataFrame

In [33]:
# Importando o DataFrame e definido somente as colunas que eu quero vizualizar
player_stats = pd.read_csv('./Football Players Stats (Premier League 2021-2022).csv', encoding='windows-1252')
player_stats = player_stats[['Player', 'Team', 'Nation', 'Pos', 'Age', 'MP', 'Starts', 'Min', 'Gls', 'Ast', 'xG', 'xA']]

In [38]:
# Com essa instrução eu crio uma copia do DataFram onde todos os campos que estivem NaN será substituido por Vazio
# Para usar o proprio DataFrame e não uma copia use o inplace=True como segundo parametro
mask = player_stats.fillna('Vazio')

In [ ]:
# O Mask é uma copia do DataFram so que o VAZIO esta substituindo o NaN
mask

In [ ]:
# Usando a função .cop() para criar uma copia do meu DataFrame
player_stats_copy = player_stats.copy()

In [ ]:
# Dessa maneira eu consigo substituit as colunas com dados vazios de forma personalizada:
    # 1 -> Atribui isso a uma variavel
    # 2 -> Chama a função .fillna()
    # 3 -> Como parametro colocamos o value =  e abrimos um dicionario
    # 4 -> Dentro do dinicionario colocamos a coluna como Key e o valor a ser inserido como os values
player_stats_copy = player_stats_copy.fillna(value={
    'Min':'Zero Min',
    'Gls':'Zero Gls',
    'Ast':'Zero Ast',
    'xG':'Zero xG',
    'xA':'Zero xA'
})

In [63]:
# Dessa maneira eu uso a função .dropna() para excluir todas as linhas q tenha dados vazios
player_stats = player_stats.dropna()

In [ ]:
# Usando a função sort_values() para ordenar a maneir que o DataFrame será exibido
    # Da maneira abaixo estou ordenando a exibição a partir da coluna Preço Total
    # Ao addd o ascending=False como parametro a exibicão será na ordem decrescente

relatorio_vendas.sort_values(by=('Preço Total '), ascending=False)

In [ ]:
# Usando a função drop() para excluir o index 1
relatorio_vendas.drop(1)

In [ ]:
# Usando a função drop() e colocando uma list como parametro para excluir diversos index
relatorio_vendas.drop([3, 4, 5])

In [ ]:
#Dessa forma eu filtro somente produtos Apples e exibio somente as colunas que eu quero
apple_sales = relatorio_vendas['Marca'] == 'Apple'
relatorio_vendas[apple_sales][['Produto', 'Quantidade', 'Preço Unitário', 'Preço Total ']]

In [ ]:
#Agrupamento (Group by)

# Criado uma variavel quer irá agrupar as formas de pagamento
formas_pagamento = relatorio_vendas.groupby(['Formas de Pagamento'])

In [ ]:
#Usando o atributo groups -> Dessa forma agrupa os index de cada forma de pagamento
formas_pagamento.groups

In [ ]:
#Usando o atributo indices -> É possível vizualizar os índices que nesse caso seria cada forma de pagamento
formas_pagamento.indices

In [ ]:
# Usando o atributo get_group() -> Dessa forma eu consigo selecionar um grupo especifico do meu agrupamento
formas_pagamento.get_group('Débito')

In [ ]:
#Tambem é possivel usar o describe
formas_pagamento.describe()

In [ ]:
# É possivel usar o max() 
formas_pagamento.max()

In [ ]:
# É possivel usar o min()
formas_pagamento.min()

In [ ]:
#Fazendo o agrpamento a partir de duas colunas
agrupamento = relatorio_vendas.groupby(['Formas de Pagamento', 'Marca'])

In [49]:
# Nesse exemplo eu consigo ver a maior venda de cada marca, por cada forma de pagamento
agrupamento.max()

                                Unnamed: 0  ID Pedido Data Pedido  ID Loja  \
Formas de Pagamento Marca
Crédito             Acer             11926      11866  2021-12-29        5
                    Alienware        11953      11853  2021-12-30        5
                    Amazon           11788      11636  2021-12-25        5
                    Apple            11989      11999  2021-12-31        5
                    Asus             11976      11771  2021-12-31        5
...                                    ...        ...         ...      ...
Pix                 Razer            11986      11986  2021-12-31        5
                    Samsung          11979      11918  2021-12-31        5
                    Sennheiser       11990      11997  2021-12-31        5
                    Sony             11867      11979  2021-12-27        5
                    Xiaomi           11837      11747  2021-12-26        5

                                                  Produto  Quantidade  \
Formas de Pagamento Marca
Crédito             Acer         Acer Predator Helios 300           5
                    Alienware               Alienware x17           5
                    Amazon      Amazon Echo Dot (4th Gen)           5
                    Apple                iPhone SE (2020)           5
                    Asus               Asus ROG Strix G15           5
...                                                   ...         ...
Pix                 Razer                  Razer Blade 15           5
                    Samsung     Samsung QN90A Neo QLED TV           5
                    Sennheiser      Sennheiser Momentum 3           5
                    Sony                Sony Xperia 1 III           5
                    Xiaomi             Xiaomi Mi 11 Ultra           5

                                Preço Unitário  Preço Total   \
Formas de Pagamento Marca
Crédito             Acer               9928.56      48238.15
                    Alienware          9900.31      47829.95
                    Amazon             9941.63      49708.15
                    Apple              9989.02      49886.75
                    Asus               9973.31      45880.80
...                                        ...           ...
Pix                 Razer              9971.42      49842.95
                    Samsung            9926.83      49108.80
                    Sennheiser         9943.40      46794.55
                    Sony               9987.50      49569.80
                    Xiaomi             9977.50      49859.35

                               Status de Pagemnto
Formas de Pagamento Marca
Crédito             Acer                Concluído
                    Alienware           Concluído
                    Amazon              Concluído
                    Apple               Concluído
                    Asus                Concluído
...                                           ...
Pix                 Razer               Concluído
                    Samsung             Concluído
                    Sennheiser          Concluído
                    Sony                Concluído
                    Xiaomi              Concluído

[66 rows x 9 columns]

In [57]:
#Nesse exemplo estou selecionando somente a coluna Preço Final para ser exibida
agrupamento['Preço Total '].max()

Formas de Pagamento  Marca
Crédito              Acer          48238.15
                     Alienware     47829.95
                     Amazon        49708.15
                     Apple         49886.75
                     Asus          45880.80
                                     ...
Pix                  Razer         49842.95
                     Samsung       49108.80
                     Sennheiser    46794.55
                     Sony          49569.80
                     Xiaomi        49859.35
Name: Preço Total , Length: 66, dtype: float64