In [1]:
import pandas as pd

relatorio_vendas = pd.read_csv('./relatorio_vendas_pandas.csv')

In [ ]:
# Usando a função .unique() para exibir os dados únicos da coluna ['Marca'], descartando as duplicadas
relatorio_vendas['Marca'].unique()

In [ ]:
# Fazendo uma comparação na Coluna ['Marca']. Todas as linhas da colunas ['Marca'] que tiverem o valor 'Apple', retornara True, caso contratio retorna False
relatorio_vendas['Marca'] == 'Apple'

In [ ]:
# Aqui apenas estou atrinuindo a minha comparação a uma variavel 
apple_select01 = relatorio_vendas['Marca'] == 'Apple'

In [ ]:
# Agora colocando minha variavel de comparação como uma coluna, irá exibir apenas as linhas que tem 'Apple' como valor
relatorio_vendas[apple_select01]

In [ ]:
# Mais um exemplo de filtragem
samsung_select = relatorio_vendas['Marca']== 'Samsung'

relatorio_vendas[samsung_select]

In [ ]:
# Usando a função .query() para criar mais um exemplo de filtragem. Aqui acontece o mesmo cenário de antes, só se exibido as linhas que tem Apple como Marca
apple_select02 = relatorio_vendas.query(f'Marca == "Apple"')

In [ ]:
# Resetando o index dessa consulta que só exibi as linhas que contem Apple como Marca (É POSSIVEL USAR O DROP=True como parametro para remover a colunas index)
apple_select02.reset_index()

In [ ]:
# É comum criarmos a consulta dessa maneira, atribundo tudo no momento da declaração da variavel
apple_select02 = relatorio_vendas.query('Marca == "Apple').reset_index()

In [ ]:
# Essa é uma consulta que irá exibir somente as vendas abaixo de R$1500 que foram pagas com PIX
    # 1 -> Atribui a uma variavel
    # 2 -> Chama o DataFrame e abre uma list
    # 3 -> Dentro dessa list a gente cria a primeira tupla com a condição
    # 4 -> Colocamos o sinal lógico de comparação
    # 5 -> Criamos a segunda tupla com a segunda condição

consulta01 = relatorio_vendas[(relatorio_vendas['Preço Total '] < 1500) & (relatorio_vendas['Formas de Pagamento'] == 'Pix')]
consulta01

In [ ]:
# Agora quero uma consulta que mostre vendas acima de R$20000, cujo a Marca é a Samsung e a forma de pagamento foi crédito
consulta02 = relatorio_vendas[(relatorio_vendas['Preço Total '] > 20000) & (relatorio_vendas['Marca'] == 'Samsung') & (relatorio_vendas['Formas de Pagamento'] == 'Crédito')]
consulta02

In [ ]:
#Agora eu quero que aparece somente produtos da marca Apple, Samsung e Nintendo
consulta03 = relatorio_vendas[(relatorio_vendas['Marca'] == 'Apple') | (relatorio_vendas['Marca'] == 'Samsung') | (relatorio_vendas['Marca'] == 'Nintendo')]

#No momento da exibição eu consigo definir ao lado na minha variavle/consulta somente as colunas que eu quero que apareça
consulta03[['Produto', 'Marca', 'Quantidade', 'Preço Total ']]

In [ ]:
# Nesse cenário eu crio uma lista com o nome de alguns produtos e atraves da função .isin() eu consigo vericar se esses produtos dentro da lista estão no meu DataFrame
lista_proutos = ['OnePlus 9 Pro', 'iPhone 13 mini (128GB)', 'Samsung QN90A Neo QLED TV']
relatorio_vendas.isin(lista_proutos) #Retorna um valor Boolean

In [ ]:
exemplo01 = relatorio_vendas['Marca'] == 'Apple' # Retorna um Boolean
exemplo02 = relatorio_vendas[(relatorio_vendas['Marca'] == 'Apple')] # Retorna a DataFrame

In [33]:
# Importando o DataFrame e definido somente as colunas que eu quero vizualizar
player_stats = pd.read_csv('./Football Players Stats (Premier League 2021-2022).csv', encoding='windows-1252')
player_stats = player_stats[['Player', 'Team', 'Nation', 'Pos', 'Age', 'MP', 'Starts', 'Min', 'Gls', 'Ast', 'xG', 'xA']]

In [38]:
# Com essa instrução eu crio uma copia do DataFram onde todos os campos que estivem NaN será substituido por Vazio
# Para usar o proprio DataFrame e não uma copia use o inplace=True como segundo parametro
mask = player_stats.fillna('Vazio')

In [ ]:
# O Mask é uma copia do DataFram so que o VAZIO esta substituindo o NaN
mask

In [ ]:
# Usando a função .cop() para criar uma copia do meu DataFrame
player_stats_copy = player_stats.copy()

In [ ]:
# Dessa maneira eu consigo substituit as colunas com dados vazios de forma personalizada:
    # 1 -> Atribui isso a uma variavel
    # 2 -> Chama a função .fillna()
    # 3 -> Como parametro colocamos o value =  e abrimos um dicionario
    # 4 -> Dentro do dinicionario colocamos a coluna como Key e o valor a ser inserido como os values
player_stats_copy = player_stats_copy.fillna(value={
    'Min':'Zero Min',
    'Gls':'Zero Gls',
    'Ast':'Zero Ast',
    'xG':'Zero xG',
    'xA':'Zero xA'
})

In [63]:
# Dessa maneira eu uso a função .dropna() para excluir todas as linhas q tenha dados vazios
player_stats = player_stats.dropna()

In [ ]:
# Usando a função sort_values() para ordenar a maneir que o DataFrame será exibido
    # Da maneira abaixo estou ordenando a exibição a partir da coluna Preço Total
    # Ao addd o ascending=False como parametro a exibicão será na ordem decrescente

relatorio_vendas.sort_values(by=('Preço Total '), ascending=False)

In [43]:
# Usando a função drop() para excluir o índice 1
relatorio_vendas.drop(1)

,Unnamed: 0,ID Pedido,Data Pedido,ID Loja,Produto,Marca,Quantidade,Preço Unitário,Preço Total,Formas de Pagamento
0,0,2554,2021-01-01,3,OnePlus 9 Pro,OnePlus,1,2127.41,2127.41,Pix
2,2,3309,2021-01-01,5,Nintendo Switch OLED,Nintendo,3,9851.29,29553.87,Débito
3,3,3376,2021-01-01,1,Samsung QN90A Neo QLED TV,Samsung,4,2819.41,11277.64,Crédito
4,4,3635,2021-01-01,1,iPhone 12 mini (64GB),Apple,2,3384.15,6768.30,Débito
5,5,3707,2021-01-01,2,Google Pixel 6 Pro,Google,1,5238.58,5238.58,Crédito
...,...,...,...,...,...,...,...,...,...,...
11995,11995,9934,2021-12-31,1,Bose QuietComfort 45,Bose,5,9696.49,48482.45,Pix
11996,11996,10361,2021-12-31,5,Samsung Galaxy S21 Ultra,Samsung,3,6388.63,19165.89,Débito
11997,11997,10745,2021-12-31,3,HP Spectre x360,HP,4,8969.44,35877.76,Pix
11998,11998,10992,2021-12-31,2,Samsung Galaxy Watch 4,Samsung,4,4519.95,18079.80,Crédito
11999,11999,11417,2021-12-31,2,iPhone 13 mini (128GB),Apple,1,8411.79,8411.79,Débito